.card-item{
    /* padding: 10px; */
    /* width: auto; */
    margin: 20px auto;
    /* border-color: #0a66c2; */
    /* border-width: 2px; */
    border-radius: 25px;
    background-color: rgba(130, 95, 150, 0.4);
    /* color: rgb(182, 62, 62); */
    color: rgb(192, 170, 168);

    
}
.card-item h1{

    font-size: 1.3rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}

.btn-edit{
    text-align: right;
    color: rgb(216, 182, 185);
}

.menuButton{
    /* padding: 1em; */
    margin: 0.5em;
    border-radius: 25px;
    background-color: rgba(130, 95, 150, 0.4);
    color: rgb(216, 182, 185);
}

.logoCompany{
    width: 7em;
    /* width: 50px; */
}

.modal-content{
    background-color: rgba(130, 95, 150, 0.6);
}

.modal-labels{
    background-color: rgba(255, 255, 255, 0);
    border: 0px; 
    color: rgb(216, 182, 185);
    font-weight: bold;
}

.modal-inputs{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(216, 182, 185);
    color: rgb(216, 182, 185);
    margin: 0.5em;
}

.act-input{
    height: 4rem;
}
.activities{
    white-space:pre-wrap;
}