<!-- Insert your works related info below! -->
<div class="card card-item" >
    <div class="btn-edit">
        <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
    </div>
    <img src="./img/Logo_Telespazio_400_px_colore_sfondotrasparente_eng.png" class="card-img-top logoCompany" alt="Telespazio Argentina S.A.">
    <div class="card-body">
        <h4 class="card-title"><strong>Telespazio Argentina S.A.</strong></h4>
        <p class="card-text"><strong>Puesto:</strong> M&O Technician (Satcom)</p>
        <p class="card-text"><strong>Período:</strong> 01/04/2012 - Actualidad</p>
        <p class="card-text"><strong>Lugar de trabajo:</strong> Malargüe, Mendoza.</p>
        <a target="_blank" href="https://www.telespazio.com/es/argentina" class="btn btn-primary">Visitar web Institucional</a>
    </div>
</div>