<div class="container">
    <app-header></app-header>
    <app-dock-menu></app-dock-menu>
    <!-- each tab of that could be accessesible from dock manu must have a component and must ne inside the div with the "tab-content" class -->
    <div class="tab-content">
        <div class="tab-pane active" id="personal" role="tabpanel">
            <app-personal-data></app-personal-data>
        </div>

        <div class="tab-pane" id="education" role="tabpanel">
            <app-education></app-education>
        </div>

        <div class="tab-pane" id="jobs" role="tabpanel">
            <app-jobs></app-jobs>
        </div>

        <!-- <div class="tab-pane" id="personal" role="tabpanel"> -->
            <!-- Your persoanl info will be inserted here -->
            <!-- <div class="card card-item" >
                <div class="btn-edit">
                    <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><strong>Leonardo Javier Olmedo</strong></h4>
                    <p class="card-text"><strong>Address:</strong> Av. Roca 1159 (5613)</p>
                    <p class="card-text"><strong>City:</strong> Malargüe</p>
                    <p class="card-text"><strong>Country, State:</strong> Argentina, Mendoza</p>
                    <p class="card-text"><strong>Telephone: +54 9260 431-2515</strong> </p>
                    <p class="card-text"><strong>E-mail:</strong>leoolmedo@hotmail.com</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="tab-pane active" id="education" role="tabpanel"> -->
            <!-- Your education and skills will be inserted here below-->
            <!-- <div class="card card-item" >
                <div class="btn-edit">
                    <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
                </div>
                <img src="./img/logo-utn-siglas.png" class="card-img-top logoCompany" alt="Universidad Tecnológica Nacional">
                <div class="card-body">
                    <h4 class="card-title"><strong>Universidad Tecnológica Nacional - Facultad Regional Haedo</strong></h4>
                    <p class="card-text"><strong>Carrera:</strong> Ingeniería electrónica</p>
                    <p class="card-text"><strong>Período:</strong> 1996 - 2004</p>
                    <p class="card-text"><strong>Lugar:</strong> Haedo, Buenos Aires.</p>
                    <a target="_blank" href="http://fra.utn.edu.ar" class="btn btn-primary">Visitar web Institucional</a>
                </div>
            </div>
            
        </div> -->

         
         
         
    </div>
    
    <p>Vuelvo al cuerpo principal.</p>
</div>


