<div class="container">
    <app-header></app-header>
    <app-dock-menu></app-dock-menu>
    
    <!-- each tab of that could be accessesible from dock manu must have a component and must ne inside the div with the "tab-content" class -->
    <div class="tab-content">
        <div class="tab-pane active" id="personal" role="tabpanel">
            <app-personal-data></app-personal-data>
        </div>

        <div class="tab-pane" id="education" role="tabpanel">
            <app-education></app-education>
        </div>

        <div class="tab-pane" id="jobs" role="tabpanel">
            <app-jobs></app-jobs>
        </div>

        <div class="tab-pane" id="projects" role="tabpanel">
            <app-projects></app-projects>
        </div>

        <div class="tab-pane" id="skils" role="tabpanel">
            <app-skils></app-skils>
        </div>
    </div>
    <app-footer></app-footer>

</div>


