<!-- HTML FOR Mac OS Dock Menu
http://cssstars.com/mac-os-dock-menu-css3/ -->

<div class="container">
    <div class="row">
        <div class="col align-self-center" id="dock-container">
            <div id="dock">
                <ul>
                    <li class="dock-item">
                        <span>Personal information</span>
                        <a href="#"><img src="../../../assets/img/exo-icon0.png"/></a>
                    </li>
                    <li>
                        <span>Education</span>
                        <a href="#"><img src="../../../assets/img/exo-icon1.png"/></a>
                    </li>
                    <li>
                        <span>Jobs</span>
                        <a href="#"><img src="../../../assets/img/exo-icon2.png"/></a>
                    </li>
                    <li>
                        <span>Projects</span>
                        <a href="#"><img src="../../../assets/img/exo-icon3.png"/></a>
                    </li>
                    <li>
                        <span>Skils</span>
                        <a href="#"><img src="../../../assets/img/exo-icon4.png"/></a>
                    </li>
                    <li>
                        <span>Skils2</span>
                        <a href="#"><img src="../../../assets/img/exo-icon6.png"/></a>
                    </li>
                </ul>
            </div>
            </div>
    </div>
</div>
