<!-- HTML FOR Mac OS Dock Menu
http://cssstars.com/mac-os-dock-menu-css3/ -->

<div class="container">
    <div class="row">
        <div class="align-self-center col-12" id="dock-container">
            <div id="dock">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <span>Personal information</span>
                        <button class="nav-link active" id="personal-tab" data-toggle="tab" data-target="#personal" type="button"
                        role="tab" ><img src="../../../assets/img/exo-icon0.png"></button>
                        <!-- <a href="#"><img src="../../../assets/img/exo-icon0.png"/></a> -->
                    </li>
                    <li class="nav-item" role="presentation">
                        <span>Education</span>
                        <button class="nav-link" id="education-tab" data-toggle="tab" data-target="#education" type="button"
                        role="tab" ><img src="../../../assets/img/exo-icon1.png"></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span>Jobs</span>
                        <button class="nav-link" id="jobs-tab" data-toggle="tab" data-target="#jobs" type="button"
                        role="tab" ><img src="../../../assets/img/exo-icon2.png"></button>
                        <!-- <a href="#"><img src="../../../assets/img/exo-icon2.png"/></a> -->
                    </li>
                    <li class="nav-item" role="presentation">
                        <span>Projects</span>
                        <button class="nav-link" id="projects-tab" data-toggle="tab" data-target="#projects" type="button"
                        role="tab"><img src="../../../assets/img/exo-icon3.png"></button>
                        <!-- <a href="#"><img src="../../../assets/img/exo-icon3.png"/></a> -->
                    </li>
                    <li class="nav-item" role="presentation">
                        <span>Skils</span>
                        <button class="nav-link" id="skils-tab" data-toggle="tab" data-target="#skils" type="button"
                        role="tab" ><img src="../../../assets/img/exo-icon4.png"></button>
                        <!-- <a href="#"><img src="../../../assets/img/exo-icon4.png"/></a> -->
                    </li>
                    <li class="nav-item" role="presentation">
                        <span>Skils2</span>
                        <button class="nav-link" id="skils2-tab" data-bs-toggle="tab" data-target="#skils2" type="button"
                        role="tab" ><img src="../../../assets/img/exo-icon6.png"></button>
                        <!-- <a href="#"><img src="../../../assets/img/exo-icon6.png"/></a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
