<header>
    <!-- <div class="container"> -->
        <div class="row  back-header">
            <div class="col-6 col-sm-4 pad-top"> 
                <a target="_blank" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
                    <img src="./assets/img/logo-ap.png" alt="Argentina Programa, #Yo programo" class="yp-logo">
                </a>                
            </div>
            <div class="col-6 col-sm-7 text-light text-center pad-top">
                <h5>Argentina Programa</h5>
                <h5>Yo Programo</h5>
            </div>
        </div>

        <div class="row align-items-middle bottom-header">
                   
            <div class="col-11 col-sm-4 col-md-3">
                <div class="profile-image-container"><img class="profile-image" src="./assets/img/perfil4.png"></div>
                <div class="align-bottom login-btn"><button class="pad-top btn-danger">Login</button></div>
                
            </div>

            <div class="col-11 col-sm-7 col-md-4">
                
                <div class="padding-extra">

                    <h2>{{personData.names}} {{personData.lastNames}} </h2>
                    <div class="info-company">M&O tecnician en Telespazio Argentina</div>
                    <div class="info-contact">
                        <p>{{personData.state}}, {{personData.country}}</p>
                        <!-- <p><a href="#" class="link">Información de contacto</a></p> -->
                    </div>
                </div>
            </div>

            <div class="d-none d-md-block col-md-4">
                <ul class=" list-unstyled"> 
                    <li>
                        <a target="_blank" href="https://www.telespazio.com/es/argentina">
                            <img src="./assets/img/logo-tpz.png" class="prof-logo-company">
                            <span class="h5 link">Telespazio Argentina</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <img src="./assets/img/syl_systems_escudo_fondo_transparente.png" class="prof-logo-company">
                            <span class="h5 link">SyL Systems</span>
                        </a>
                    </li>
                </ul>

                <p><a href="#" class="link">Información de contacto</a></p>
                <a class="media-link link" href="https://www.facebook.com/leoolmedo3677" target="_blank" title="Facebook">
                    <i class="fab fa-facebook  fa-lg"></i>
                </a>

                <a class="media-link link" href="https://www.github.com" target="_blank" title="GitHub">
                    <i class="fab fa-github  fa-lg"></i>
                </a>
                
                <a class="media-link link" href="https://www.instagram.com" target="_blank" title="Instagram">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>

                <a class="media-link link" href="https://www.linkedin.com" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin  fa-lg"></i> 
                </a>

                <a class="media-link link" href="skype:leoolmedo?call" target="_blank" title="skype call">
                    <i class="fab fa-skype  fa-lg"></i>
                </a>

                <a class="media-link link" href="https://twitter.com/leojaviolmedo" target="_blank" title="Twitter profile">
                    <i class="fab fa-twitter  fa-lg"></i> 
                </a>

                <a class="media-link link" href="https://wa.me/5492604312515" target="_blank" title="Whatsapp text">
                    <i class="fab fa-whatsapp fa-lg"></i>
                </a>

                <a class="media-link link" href="" target="_blank" title="Phone call">
                    <i class="fas fa-phone  fa-lg"></i>
                </a>

                <a class="media-link link" href="" target="_blank" title="Web Page">
                    <i class="far fa-newspaper fa-lg"></i>
                </a>
            </div>
            <div class="col-1">
                <div class="btn-edit">
                    <a href="#" class="btn-right link"> <i class="fa fa-pen"></i></a>
                </div>
            </div>

        </div>
    <!-- </div> -->
</header>