<header>
    <!-- <div class="container"> -->
        <div class="row  back-header">
            <div class="col-6 col-sm-4 pad-top"> 
                <a target="_blank" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
                    <img src="./assets/img/logo-ap.png" alt="Argentina Programa, #Yo programo" class="yp-logo">
                </a>                
            </div>
            <div class="col-6 col-sm-7 text-light text-center pad-top">
                <h5>Argentina Programa</h5>
                <h5>#Yo Programo</h5>
            </div>
        </div>

        <div *ngIf="myError == 0; then ok; else notOk")></div>
        <ng-template #ok>       
            <div class="row align-items-middle bottom-header" >
                <div class="col-11 col-sm-4 col-md-2">
                    <div class="profile-image-container"><img class="profile-image" src={{personData.profilePicture}}></div>
                </div>

                <div class="col-11 col-sm-7 col-md-9">
                    <div class="padding-extra">
                        <h2>{{personData.names}} {{personData.lastNames}} </h2>
                        <div class="info-company">{{personData.about}}</div>
                        <div class="info-company">
                            <p>Currently i'm living in the city of {{personData.city}} - {{personData.state}}, {{personData.country}}</p>
                        </div>
                    </div>
                </div>

                <div class="d-md-block col-sm-1">
                    <button class="btn btn-secondary dropdown-toggle link" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-menu link">
                        <button [disabled]="editable()" class="pad-top dropdown-item link-item" data-toggle="modal" data-target="#login-modal" (click)="showLoginModal()">Login</button>
                        <button [disabled]="!editable()" class="pad-top dropdown-item link-item" data-toggle="modal" data-target="#changePass-modal" (click)="showChangePass()">Change password</button>
                        <button [disabled]="!editable()" class="pad-top dropdown-item link-item" (click)="onClickLogout()">Logout</button>
                    </div>  
                    <div *ngIf="editable()" class="btn-edit">
                        <a href="#" class="btn-right link-item"> <i class="fa fa-pen"></i></a>
                    </div> 
                </div>
            </div>

            <!-- login Modal -->
            <div *ngIf="loginModal" class="modal fade" id="login-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header loginModalLabels">
                            <h5 class="Login modal-labels" >Login</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span class="modal-labels" >&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text modal-labels">User</span>
                                </div>
                                <input type="text" class="form-control modal-inputs" [(ngModel)]="user" required >
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text modal-labels">Password</span>
                                </div>
                                <input type="password" class="form-control modal-inputs" [(ngModel)]="password" required >
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn modal-inputs" data-dismiss="modal" (click)="closeLoginModal()">Cancel</button>
                        <button type="button" class="btn modal-inputs" data-dismiss="modal" (click)="onClickLogin()">Login</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- change password Modal -->
            <div *ngIf="changePassModal" class="modal fade" id="changePass-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header loginModalLabels">
                            <h5 class="Login modal-labels" >Login</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span class="modal-labels" >&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text modal-labels">Old Password</span>
                                </div>
                                <input type="password" class="form-control modal-inputs" [(ngModel)]="oldPass" required >
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text modal-labels">New Password</span>
                                </div>
                                <input type="password" class="form-control modal-inputs" [(ngModel)]="newPass" required >
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text modal-labels">Repeat New Password</span>
                                </div>
                                <input type="password" class="form-control modal-inputs" [(ngModel)]="newPass2" required >
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn modal-inputs" data-dismiss="modal" (click)="closeChangePassModal()">Cancel</button>
                        <button type="button" class="btn modal-inputs" data-dismiss="modal" (click)="onClickChangePass()">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div *ngIf="showMessageModal" class="modal fade" id="showMessage-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header loginModalLabels">
                            <h3 class="Login modal-labels" >Message</h3>
                            <button type="button" class="close" data-dismiss="modal">
                                <span class="modal-labels" >&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>{{message}}</h5>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn modal-inputs" data-dismiss="modal" (click)="closeMessageModal()">Ok</button>
                        </div>
                    </div>
                </div>
            </div> -->
  
        </ng-template>
        <ng-template #notOk>
            <div class="row align-items-middle bottom-header" >
                <div class="h2 col-10 ">Error connecting to the Backend!</div>
            </div>
        </ng-template>

        <!-- </div> -->
    <!-- </div> -->
</header>