<!-- Your persoanl info will be inserted here -->
<div class="card card-item" >
    <div class="btn-edit">
        <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
    </div>
    <div class="card-body">
        <h4 class="card-title"><strong>Leonardo Javier Olmedo</strong></h4>
        <p class="card-text"><strong>Address:</strong> Av. Roca 1159 (5613)</p>
        <p class="card-text"><strong>City:</strong> Malargüe</p>
        <p class="card-text"><strong>Country, State:</strong> Argentina, Mendoza</p>
        <p class="card-text"><strong>Telephone: +54 9260 431-2515</strong> </p>
        <p class="card-text"><strong>E-mail:</strong>leoolmedo@hotmail.com</p>
    </div>
</div>