<!-- Your education and skills will be inserted here below-->
<div class="card card-item" >
    <div class="btn-edit">
        <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
    </div>
    <img src="./img/logo-utn-siglas.png" class="card-img-top logoCompany" alt="Universidad Tecnológica Nacional">
    <div class="card-body">
        <h4 class="card-title"><strong>Universidad Tecnológica Nacional - Facultad Regional Haedo</strong></h4>
        <p class="card-text"><strong>Carrera:</strong> Ingeniería electrónica</p>
        <p class="card-text"><strong>Período:</strong> 1996 - 2004</p>
        <p class="card-text"><strong>Lugar:</strong> Haedo, Buenos Aires.</p>
        <a target="_blank" href="http://fra.utn.edu.ar" class="btn btn-primary">Visitar web Institucional</a>
    </div>
</div>