<div class="back-footer ">
    <p class="p-sm-2 footer-title mx-auto">Información de contacto</p>
    <div class="d-md-block p-sm-2 footer-links">
        <a class="media-link link" href="https://www.facebook.com/leoolmedo3677" target="_blank" title="Facebook">
            <i class="fab fa-facebook  fa-lg"></i>
        </a>

        <a class="media-link link" href="https://www.github.com/leoolmedo" target="_blank" title="GitHub">
            <i class="fab fa-github  fa-lg"></i>
        </a>
        
        <a class="media-link link" href="https://www.instagram.com/leoolmedo77" target="_blank" title="Instagram">
            <i class="fab fa-instagram fa-lg"></i>
        </a>

        <a class="media-link link" href="https://www.linkedin.com/in/leonardo-j-olmedo-441b6a4a/" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin  fa-lg"></i> 
        </a>

        <a class="media-link link" href="skype:leoolmedo?call" target="_blank" title="skype call">
            <i class="fab fa-skype  fa-lg"></i>
        </a>

        <a class="media-link link" href="https://twitter.com/leojaviolmedo" target="_blank" title="Twitter profile">
            <i class="fab fa-twitter  fa-lg"></i> 
        </a>

        <!-- <a class="media-link link" href="https://wa.me/549" target="_blank" title="Whatsapp text">
            <i class="fab fa-whatsapp fa-lg"></i>
        </a> -->

        <!-- <a class="media-link link" href="" target="_blank" title="Phone call">
            <i class="fas fa-phone  fa-lg"></i>
        </a> -->

        <!-- <a class="media-link link" href="" target="_blank" title="Web Page">
            <i class="far fa-newspaper fa-lg"></i>
        </a> -->
    </div>
</div>